

/*Dodanie zmiennych CSS, ulatwia to pozniejsze zmiany na calej stronie*/

:root {
    --primary-color: #2472cf;    
    --secondary-color: #fff;   
    --light: #f8f8f8;
    --g100: #f3f3f3;
    --g600: #808080;

    --spacing-tiny: 8px;
    --spacing-small: 16px;
    --spacing: 32px;
    --spacing-large: 64px;

    --font-base: 'Poppins', sans-serif;

    --header-height: 100px;
}