/*Styl banera*/

.c-banner { 
    position: relative;  /*Ustawienie trybu pozycjonowania na relative, dzięki temu będzie można pozycjonować elementy wewnątrz względem tego elementu*/
    background-position: center;  /*Ustawienie położenia tła na środek*/
    background-size: cover;  /*Ustawienie wielkości obrazu tła, cover oznacza, że pokryte zostanie całe tło*/
    background-attachment: fixed;  /*Ta właściwość powoduje, że obraz tła pozostaje w miejscu niezależnie od przewijania*/
    height: 60vh;  /*Ustawienie wysokości elementu*/
    display: flex;  /*Ustawienie trybu wyświetlania bloku na flexbox*/
    align-items: center;  /*Wyśrodkowanie elementów wewnątrz elementu o właściwości display:flex w pionie*/
    justify-content: center;  /*Wyśrodkowanie elementów wewnątrz elementu o właściwości display:flex w poziomie*/
}

.c-banner--low { /*Klasa umożliwiająca zmniejszenie wysokości elementu*/
    height: 40vh; /*Ustawienie wysokości elementu*/
}

.c-banner:after { /*Pseudoelement, odpowiadajacy za przyciemienie tła*/
    content: ''; /*Ustawienie zawartości pseudoelementu*/    
    display: block; /*Ustawienie trybu wyświetlania pseudelementu na blok*/
    position: absolute; /*Ustawienie trybu pozycjonowania elementu na pozycjonowanie absolutne - względem rodzica o pozycjonowaniu relative*/
    left: 0; /*Ustawienie lewej pozycji pseudoelementu*/
    right: 0; /*Ustawienie prawej pozycji pseudoelementu*/
    top: 0; /*Ustawienie górnej pozycji pseudoelementu*/
    bottom: 0; /*Ustawienie dolnej pozycji pseudoelementu*/
    background-color: rgba(0, 0, 0, .3); /*Ustawienie koloru tła na czarny z przezroczystością 30%*/
    z-index: 0; /*Ustawienie indeksu na 0, tak aby wyświetlał się pod zawartością banera*/
}

.c-banner__content {
    position: relative; /*Ustawienie trybu pozycjonowania na relative, dzięki temu można ustawić właściwość z-index*/
    text-align: center; /*Wyśrodkowanie tekstu*/
    z-index: 1; /*Ustawienie właściwości z-index na 1, tak żeby wyświetlał się nad pseudoelementem*/
    color: #fff; /*Ustawienie koloru czcionki na biały*/
}

.c-banner__title {  /*Styl tytułu banera*/
    font-size: 3em;  /*Ustawienie wielkości czcionki*/
    line-height: 1.3;  /*Ustawienie odstępu między liniami tekstu*/
    font-weight: 200;  /*Ustawienie grubości czcionki*/
    margin-bottom: var(--spacing);  /*Ustawienie marginesu dolnego na spacing = 32px*/
    opacity: 0; /*Ustawienie widoczności na 0% - przygotowanie do animacji*/
    transform: translateY(-10%); /*Ustawienie przesunięcia w osi Y na -10% - przygotowanie do animacji*/
    animation: fadeDown 1s; /*Dodanie animacji*/
    animation-delay: .5s; /*Ustawienie opóźnienia animacji*/
    animation-fill-mode: forwards; /*Właściwość ta powoduje, że po zakończeniu animacji zachowany zostanie jej końcowy stan*/
}

.c-banner .o-button {
    opacity: 0; /*Ustawienie widoczności na 0% - przygotowanie do animacji*/
    transform: translateY(10%); /*Ustawienie przesunięcia w osi Y na 10% - przygotowanie do animacji*/
    animation: fadeUp 2s; /*Dodanie animacji*/
    animation-delay: 1.5s; /*Ustawienie opóźnienia animacji*/
    animation-fill-mode: forwards; /*Właściwość ta powoduje, że po zakończeniu animacji zachowany zostanie jej końcowy stan*/
}

@media screen and (max-width: 992px) {  
    .c-banner__title {
        font-size: 2em; /*Zmniejszenie rozmiaru czcionki tytułu dla ekranów o szerokości poniżej 992px*/
    }
}

@keyframes fadeDown { /*Animacja opadania*/
    from {  
        transform: translateY(-10%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeUp { /*Animacja wznoszenia*/
    from {  
        transform: translateY(10%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}