/*Ustawienie stylu klasy o-title*/

.o-title {
    font-size: 2em; /*Ustawienie wielkości czcionki na 2em*/
    font-weight: 300; /*Ustawienie grubości tekstu na 300*/
    opacity: 0; /*Ustawienie widoczności na 0% - przygotowanie do animacji*/
    transform: translateY(10%); /*Ustawienie przesunięcia w osi Y na 10% - przygotowanie do animacji*/
    animation: fadeUp 2s; /*Dodanie animacji*/
    animation-delay: 0.5s; /*Ustawienie opóźnienia animacji*/
    animation-fill-mode: forwards; /*Właściwość ta powoduje, że po zakończeniu animacji zachowany zostanie jej końcowy stan*/
}

.o-page-title {
    font-size: 2.5em;
    font-weight: 200;
    opacity: 0; /*Ustawienie widoczności na 0% - przygotowanie do animacji*/
    transform: translateY(10%); /*Ustawienie przesunięcia w osi Y na 10% - przygotowanie do animacji*/
    animation: fadeUp 2s; /*Dodanie animacji*/
    animation-delay: 0.5s; /*Ustawienie opóźnienia animacji*/
    animation-fill-mode: forwards; /*Właściwość ta powoduje, że po zakończeniu animacji zachowany zostanie jej końcowy stan*/
}

@keyframes fadeUp { /*Animacja wznoszenia*/
    from {  
        transform: translateY(10%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}