/*Styl tabeli*/

.o-table {
    margin: 0 auto; /*Wyśrodkowanie tabeli w poziomie*/
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, .3); /*Dodanie cienia do tabeli*/
    width: 100%;
}

.o-table td, .o-table th {
    padding: var(--spacing-small) var(--spacing); /*Odstępy wewnętrzne komórek tabeli*/
    text-align: center; /*Wyśrodkowanie tekstu*/
    border-bottom: 1px solid #efefef;
}

.o-table__head th {
    background-color: var(--primary-color); /*Ustawienie koloru tła komórek w nagłówku tabeli*/
    color: #fff; /*Ustawienie koloru czcionki*/
    font-weight: 200; /*Ustawienie grubości czcionki*/
}

@media screen and (max-width: 992px) {
    .o-table td, .o-table th {
        padding: var(--spacing-tiny) var(--spacing-small);  /*Zmniejszenie odstepów wewnętrznych komórek tabeli*/
    }
}

@media screen and (max-width: 768px) {
    .o-table {
        width: 100%;  /*Na urządzeniach mobilnych tabela zajmie całą szerokość strony*/
    }

    .o-table__head {
        display: none;  /*Ukrycie nagłówka tabeli na urządzeniach mobilnych*/
    }

    .o-table td:before {
        content: attr(data-title);  /*Wyświetlenie jako pseudoelement tytułów zapisanych w atrybucie data-title*/
        display: block;  /*Ustawienie trybu wyświetlania*/
        font-weight: bold;  /*Ustawienie grubości czcionki*/
    }

    .o-table td, .o-table th { 
        display: block;  /*Ustawienie trybu wyświetlania komórek tabeli, tak aby na urządzeniach mobilnych wyświetlały się jedna pod druga*/
        border-bottom: none;
        padding: var(--spacing);
    }
}