/*Style pól formularzy*/

.o-input__group {
    position: relative; /*Tryb pozycjonowania, pozwala na ustawianie elementów wewnątrz względem rodzica*/
    margin-bottom: 45px; /*Margines dolny*/
}

.o-input {
    width: calc(100% - 15px); /*Ustawienie szerokości pola formularza na całą szerokość pomniejszoną o odstępy*/
    font-size: 18px; /*Ustawienie wielkości czcionki*/
    padding: 10px 10px 10px 5px; /*Ustawienie odstępów wewnętrznych*/
    display: block; /*Ustawienie trybu wyświetlania na blokowy*/
    border: 0; /*Usunięcie domyślnych krawędzi pól formularza*/
    border-bottom: 1px solid #757575; /*Krawędź dolna pod polem formularza*/
    font-weight: normal; /*Ustawienie grubości czcionki*/
    font-family: 'Poppins', sans-serif; /*Ustawienie czcionki tekstu wpisywanego w polu formularza*/
}

.o-input:focus {
    outline: none; /*Wyłączenie domyślnego podkreślenia pola formularza po kliknięciu*/
}

.o-input--textarea { /*Klasa określająca wygląd pola textarea*/
    resize: none;  /*Wyłaczenie możliwości zmiany wielkości pola*/
    height: 8rem; /*Ustawienie wysokości pola*/
}

.o-input--select {
    -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

.o-input__label { 
    color: #999; /*Ustawienie koloru czcionki*/
    font-size: 18px; /*Ustawienie rozmiaru czcionki*/
    font-weight: normal; /*Ustawienie grubości czcionki*/ 
    position: absolute; /*Ustawienie trybu pozycjonowania*/
    left: 5px; /*Ustawienie pozycji elementu na 5px od lewej krawędzi rodzica*/
    top: 10px; /*Ustawienie pozycji elementu na 10px od górnej krawędzi rodzica*/
    transition: 0.2s ease all; /*Włączenie przejść*/
}

.o-input__label--select {
    top: -20px;  /*Ustawienie pozycji elementu na -20px od górnej krawędzi rodzica*/
    font-size: 14px;  /*Ustawienie rozmiaru czcionki*/
}

.o-input:focus ~ .o-input__label, .o-input:valid ~ .o-input__label, .o-input:disabled ~ .o-input__label  {  /*Styl tytułu pola formularza po kliknięciu*/
    top: -20px;  /*Ustawienie pozycji elementu na -20px od górnej krawędzi rodzica*/
    font-size: 14px;  /*Ustawienie rozmiaru czcionki*/
    color: var(--primary-color);  /*Ustawienie koloru czcionki*/
}

.o-input.not-valid ~ .o-input__label {
    top: -20px;  /*Ustawienie pozycji elementu na -20px od górnej krawędzi rodzica*/
    font-size: 14px;  /*Ustawienie rozmiaru czcionki*/
    color: red  /*Ustawienie koloru czcionki*/
}

.o-input__bar {  /*Styl pasków podkreślenia pola formularza*/
    position: relative;  /*Ustawienie trybu pozycjonowania*/
    display: block; /*Ustawienie trybu wyświetlania*/
    width: 100%; /*Ustawienie szerokości na 100%*/
}

.o-input__bar:before, .o-input__bar:after {  /*Styl pseudoelementów podkreślenia pola formularza*/
    content: '';  /*Ustawienie zawartości pseudoelementów*/
    height: 2px;  /*Ustawienie wysokości paska podkreślenia*/
    width: 0;  /*Ustawienie szerokości*/
    bottom: 1px;  /*Ustawienie pozycji elementu na 1px od dolnej krawędzi rodzica*/
    position: absolute;  /*Ustawienie trybu pozycjonowania*/
    background: var(--primary-color);  /*Ustawienie koloru tła paska*/
    transition: 0.2s ease all;  /*Dodanie przejść*/
}

.o-input.not-valid ~ .o-input__bar:before, .o-input.not-valid ~ .o-input__bar:after {
    background: red;
}

.o-input__bar:before {
    left: 50%;  /*Ustawienie pozycji lewej części paska podkreślenia*/
}

.o-input__bar:after {
    right: 50%;  /*Ustawienie pozycji prawej części paska podkreślenia*/
}

.o-input:focus ~ .o-input__bar:before, .o-input:focus ~ .o-input__bar:after {
    width: 50%;  /*Rozszerzenie pasków podkreślenia po kliknięciu w pole formularza*/
}
