.c-fishes-tile {
    padding: var(--spacing) var(--spacing-small);
}

.c-fishes-tile__image {
    height: 100px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: var(--spacing-small);
}

.c-fishes-tile__title {
    color: #000;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}