.c-news-tile {
    padding: var(--spacing) var(--spacing-small);
    margin-bottom: var(--spacing-small);
}

.c-news-tile--vertical {
    padding: var(--spacing-tiny);
    margin-bottom: var(--spacing-small);
}

.c-news-tile--vertical a {
    display: flex;
    align-items: center;
}

.c-news-tile__image {
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: var(--spacing-small);
}

.c-news-tile--vertical .c-news-tile__image {
    height: 100px;
    width: 200px;
    margin-bottom: 0;
    flex: 2;
}

.c-news-tile__title {
    color: #000;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: var(--spacing-tiny);
}

.c-news-tile--vertical .c-news-tile__title {
    margin-left: var(--spacing-small);
    font-size: 16px;
    flex: 3;
}

.c-news-tile__excerpt {
    color: var(--g600);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}