.c-single-product__image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 50%;
}

.c-single-product__action .o-button {
    min-width: 200px;
    text-align: center;
}

.c-single-product__action .o-button.is-added {
    border-color: red !important;
    color: red !important;
}

.c-single-product__action .o-button.is-added:after  {
    background-color: red !important;
    transform: translateY(0);
}

.c-single-product__action .o-button.is-added, .c-single-product__action .o-button.is-added {
    color: #fff !important;
}
