.c-single-news__image {
    padding-bottom: 30%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.c-single-news__date {
    color: var(--g600);
    font-size: 18px;
}
